body {
    margin: 0;
    padding: 0;
    font: 14px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #F1F1F1;
    background-color: #000000;
}

a:link {
    text-decoration: none;
}

#container {
    margin: 1em auto;
    width: 960px;
    text-align: left;
}

#header {
    height: 75px;
}

#contents {
    border: 1px solid #404040;
    background-color: #242424;
    padding: 10px;
    /*margin: 0 200px 40px 0;*/
}

ul {
    margin: 0 0 0 10px;
    padding: 0;
    list-style-type: none;
}

#search input {
    width: 50%;
    font-size: 14px;
    color: #000000;
    padding: 3px;
    padding-left: 20px;
    margin: 0;
    outline: 0;
    border: 1px solid #ADADAD;
    background: #FFFFFF url(/img/magnifier.png) no-repeat scroll left center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#nav, #nav ul {
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    line-height: 1.5em;
}

#nav a:link, #nav a:active, #nav a:visited {
    display: block;
    padding: 0px 5px;
    border: 1px solid #484848;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #282828;
}

#nav a:hover {
    background-color: #383838;
    color: #CCCCCC;
}

#nav li {
    float: left;
    position: relative;
}

#nav ul {
    position: absolute;
    width: 12em;
    top: 1.5em;
    display: none;
}

#nav li ul a {
    width: 12em;
    float: left;
}

#nav ul ul {
    top: auto;
}

#nav li ul ul {
    left: 12em;
    margin: 0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul {
    display: none;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {
    display: block;
}

table {
    margin-top: 20px;
    width: 938px;
    text-align: left;
    border-spacing: 2px;
    border-collapse: collapse;
    border: 2px solid #404040;
}

th {
    font-weight: normal;
    padding: 8px;
    background: #282828;
    border: 1px solid #808080;
    /*
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-right: 1px solid #303030;
    border-left: 1px solid #303030;
    */
}

td {
    padding: 8px;
    background: #141414;
    border: 1px solid #808080;
    /*
    border-bottom: 1px solid #ADADAD;
    border-right: 1px solid #ADADAD;
    border-left: 1px solid #ADADAD;
    border-top: 1px solid transparent;
    */
}

tr:hover td {
    background: #282828;
}

